<div (click) = "showTabContent($event)" class="row align-items-center header-nav">
    <div  routerLink="/" class="col-2 text-center">
        Назад
    </div>
    <div [ngClass]="{active: tabs.repo}" data-item="repo" class="col-5 text-center">
        Репозитории
    </div>
    <div  [ngClass]="{active: tabs.commit}" data-item="commit" class="col-5 text-center">
        Коммиты
    </div>
</div>

<form  (ngSubmit) = "findRepoData()" class="material-form p-3"  [formGroup]="formFilter">
    <div  *ngIf = "tabs.repo" formGroupName = 'repo'>
        <div class=" col-8 col-sm-6 mt-3 pl-0">
            <label class="pr-2">Сортировать</label>
            <select  class="custom-select col-8  col-sm-6"  formControlName="sort">
                <option *ngFor="let item of sortRepo" [ngValue]="item.item">{{item.text}}</option>
            </select>
        </div>
        <div class="form-check col-8 col-sm-6 mt-3 pl-0">
            <label>Название репозитория</label>
            <input   type="test" formControlName="name" class="form-control ">
        </div>
    </div>

    <div   *ngIf = "tabs.commit" formGroupName = 'commit' >
        <div class=" col-8 col-sm-6 mt-3 pl-0">
            <label class="pr-2">Сортировать</label>
            <select  class="custom-select  col-8  col-sm-6"  formControlName="sort">
                   <option *ngFor="let item of sortCommit" [ngValue]="item.item">{{item.text}}</option>
            </select>
        </div>
        <div class="form-check col-8 col-sm-6 mt-3 pl-0">
            <label>Название коммита</label>
            <input   type="test" formControlName="name" class="form-control">
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="submit" [disabled] = "formFilter.controls[this.tabs.active].invalid" class="btn btn-primary my-4">Найти</button>
    </div>

</form>

<div class="content">
    <div class="row p-3 justify-content-center" *ngIf="tabs.repo && (data && data.length > 0)">
        <div class="mb-5 col-sm-6 col-10 " *ngFor="let item of data">
            <div class="repo-item ">
                <h5>{{item.name}}</h5>
                <p><a target="_blank" href="{{item.owner.html_url}}">{{item.owner.login}}</a></p>
                <div *ngIf="item.owner && item.owner.avatar_url" [ngStyle]="{'background': 'url('+item.owner.avatar_url+') no-repeat center/cover'}" class="repo-ava">
                </div>
            </div>

        </div>
    </div>

    <div class="row p-3 justify-content-center" *ngIf="tabs.commit && (data && data.length > 0)">
        <div class="mb-5 col-sm-6 col-10 " *ngFor="let item of data">
            <div class="repo-item ">
                <p *ngIf="item.author && item.author.login">Автор: {{item.author.login}} </p>
                <div *ngIf="item.author && item.author.avatar_url"  [ngStyle]="{'background': 'url('+item.author.avatar_url+') no-repeat center/cover'}" class="repo-ava">
                </div>
                <p>Дата: {{item.commit.author.date | date:"dd:MM:yyyy hh:mm"}}</p>
                <p *ngIf="item.html_url" class="mt-2"><a  target="_blank" href ="{{item.html_url}}">Коммит</a></p>
                <p *ngIf="item.repository.html_url"><a target="_blank" href ="{{item.repository.html_url}}">Репозиторий</a></p>
            </div>

        </div>
    </div>
    <div class='text-center' *ngIf="noData">
        Нет данных
    </div>
</div>
