<div class="row justify-content-center">
    <div routerLink="/youtube-api" class = 'col-4 p-3'>
        <div class="socialItems d-flex justify-content-center align-items-center">
           Youtube
        </div>

    </div>
    <div  routerLink="/github-api"  class = 'col-4 p-3'>
        <div class="socialItems d-flex justify-content-center align-items-center">
            GitHub
        </div>

    </div>

    <div  routerLink="/twitter-api"  class = 'col-4 p-3'>
        <div class="socialItems d-flex justify-content-center align-items-center">
           Twitter
        </div>

    </div>
</div>

