<div (click) = "showTabContent($event)" class="row align-items-center header-nav">
    <div  routerLink="/" class="col-2 text-center">
        Назад
    </div>
    <div [ngClass]="{active: tabs.channels}" data-item="channels" class="col-5 text-center">
       Каналы
    </div>
    <div  [ngClass]="{active: tabs.videos}" data-item="videos" class="col-5 text-center">
       Видео
    </div>
</div>

<form  (ngSubmit) = "findData()" class="material-form p-2"  [formGroup]="formFilter">
    <div  *ngIf = "tabs.channels" formGroupName = 'channels' class="form-group" >
        <div class=" col-8 col-sm-6 mt-3 pl-0">
            <label class="pr-2">Искать по</label>
            <select  class="custom-select " (change) = "initSelect()" formControlName="type">
                        <option  *ngFor="let item of channelsTypes" [ngValue]="item.item">{{item.text}}</option>
            </select>
        </div>

        <div class=" col-8 col-sm-6 mt-3 pl-0">
            <label class="pr-2">текст для поиска</label>
                <input  [disabled] = "showFilter" type="test" formControlName="name" class="form-control">
        </div>
        <div class=" mt-3 form-group  align-items-center" >
            <div *ngFor ="let item of formFilter.controls.channels.controls.optional.controls; let i = index" class="form-check col-auto">
                <input  id ="checkboxitem{{i}}" type="checkbox" [formControl]="item" class="form-check-input">
                <label for="checkboxitem{{i}}" class="form-check-label">{{optionalParams[i] }}</label>
            </div>

        </div>
    </div>

    <div  class="form-group" *ngIf = "tabs.videos" formGroupName = 'videos' >
        <div class="form-check" >

            <input  id="videoStatistic" type="checkbox" class="form-check-input"   formControlName="statistic" >
            <label for="videoStatistic">Выводить статистику </label>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="submit"[disabled] = "formFilter.controls[this.tabs.active].invalid" class="btn btn-primary mb-2">Найти</button>
    </div>
</form>


<div *ngIf="data" class="content">
    <div class="row p-3 justify-content-center" *ngIf = "tabs.channels">

            <div class="repo-item col-10"   *ngFor = "let item of data">
                <h5>{{item.snippet.title}}</h5>
<!--                <p><a target="_blank" href="{{item.owner.html_url}}">{{item.owner.login}}</a></p>-->
                <div *ngIf="item.snippet.thumbnails.default.url" [ngStyle]="{'background': 'url('+item.snippet.thumbnails.default.url+') no-repeat center/cover'}" class="repo-ava">
                </div>
                <p class="mt-2" *ngIf="item.snippet.publishedAt">Создан: {{item.snippet.publishedAt | date : "dd.MM.yyyy"}}</p>
                <div class="row mt-2">
                    <div class='col-12' *ngIf="item.contentDetails && item.contentDetails.relatedPlaylists">
                        <p>Плэйлисты пользователя</p>
                        <p>Избранное: <a href ="https://www.youtube.com/playlist?list={{item.contentDetails.relatedPlaylists.favorites}}">Ссылка</a></p>
                        <p>Загруженные <a href ="https://www.youtube.com/playlist?list={{item.contentDetails.relatedPlaylists.uploads}}">Ссылка</a></p>
                    </div>
                    <div class='col-12' *ngIf="item.statistics">
                        <p class="font-weight-bold">Статистика</p>
                        <p>Просмотров: {{item.statistics.viewCount}}</p>
                        <p>Видео: {{item.statistics.videoCount}}</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="row p-3 justify-content-center" *ngIf = "tabs.videos && data.length > 0">

        <div class="repo-item col-10 my-2"   *ngFor = "let item of data">
            <h5>{{item.snippet.title}}</h5>
            <!--                <p><a target="_blank" href="{{item.owner.html_url}}">{{item.owner.login}}</a></p>-->
            <div *ngIf="item.snippet.thumbnails.default.url" [ngStyle]="{'background': 'url('+item.snippet.thumbnails.default.url+') no-repeat center/cover'}" class="repo-ava">
            </div>
            <p class="mt-2" *ngIf="item.snippet.publishedAt">Создан: {{item.snippet.publishedAt | date : "dd.MM.yyyy"}}</p>
            <div class='col-12 p-0' *ngIf="item.statistics">
                <p class="font-weight-bold">Статистика</p>
                <p>Просмотров: {{item.statistics.viewCount}}</p>
                <p>Лайков: {{item.statistics.likeCount}}</p>
                <p>Дизлаков: {{item.statistics.dislikeCount}}</p>
                <p>Комментарии: {{item.statistics.commentCount}}</p>
            </div>
        </div>
    </div>
    <div class='text-center' *ngIf="noData">
        Нет данных
    </div>

</div>
