/* You can add global styles to this file, and also import other style files */
.repo-ava {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.repo-item {
    background: #FAFAFA;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    padding: 10px;
}
.repo-item h4 {
    word-wrap: break-word;
}
.header-nav {
    height: 40px;
    background: #475b75;
    color: #fff;
    cursor: pointer;
}
.header-nav .active {
    height: 100%;
    background: #ef8181;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialItems {
    background: #845ba2;
    color: #fff;
    height: 70px;
    cursor: pointer;
}
